openapi: 3.0.0
paths:
  /users:
    post:
      operationId: UsersController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDto'
      tags: &a1
        - users
    get:
      operationId: UsersController_list
      parameters:
        - name: page
          required: false
          in: query
          schema:
            minimum: 1
            default: 1
            example: 1
            type: number
        - name: pageSize
          required: false
          in: query
          schema:
            minimum: 1
            maximum: 100
            default: 20
            example: 20
            type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersPaginatedResponseDto'
      tags: *a1
info:
  title: HaxFootball API
  description: ''
  version: '1.0'
  contact: {}
tags: []
servers: []
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    CreateUserDto:
      type: object
      properties:
        discordId:
          type: string
          example: '123456789012345678'
        username:
          type: string
          minLength: 1
          maxLength: 25
          example: Alice
      required:
        - discordId
        - username
    UserResponseDto:
      type: object
      properties:
        id:
          type: string
        tenant:
          type: string
        discordId:
          type: string
        username:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - tenant
        - discordId
        - username
        - createdAt
    PageInfoDto:
      type: object
      properties:
        page:
          type: number
        pageSize:
          type: number
        hasNextPage:
          type: boolean
      required:
        - page
        - pageSize
        - hasNextPage
    UsersPaginatedResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserResponseDto'
        pageInfo:
          $ref: '#/components/schemas/PageInfoDto'
      required:
        - items
        - pageInfo
security:
  - bearer: []
